Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(Resources)($|/) - [L]

RewriteCond %{REQUEST_URI} !^Resources/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)$ index.php?param1=$1 [L]
RewriteRule ^([^/]+)/$ index.php?param1=$1 [L]
RewriteRule ^([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2 [L]
RewriteRule ^([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2&param3=$3 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2&param3=$3 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2&param3=$3&param4=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2&param3=$3&param4=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2&param3=$3&param4=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2&param3=$3&param4=$4 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2&param3=$3&param4=$4&param5=$5 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2&param3=$3&param4=$4&param5=$5 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?param1=$1&param2=$2&param3=$3&param4=$4&param5=$5&param6=$6 [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$ index.php?param1=$1&param2=$2&param3=$3&param4=$4&param5=$5&param6=$6 [L]